*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul,
li {
    list-style: none;
}

body {
    min-height: 100dvh;
}

button {
    all: unset;
    display: block;
}
