@forward "./Modules/reset.scss";
@use "./Variables/index" as var;

body {
    @include var.font-bold;
    background-color: var.$background-color;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 4em;
    text-align: center;
    color: white;
}

.zekrs {
    user-select: none;
    width: 100%;
    max-width: 768px;
    margin-top: 2em;
    padding: 0.75em;
    border: 1px solid white;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    &__zekr {
        border-radius: 0.5em;
        text-align: center;
        color: white;
        @include var.font-normal;
        font-size: 1.75em;
        margin: 5px;
        border: 1px dashed grey;
        cursor: pointer;
        &:hover,
        &:focus-visible {
            color: var.$aqua;
            border-color: var.$aqua;
        }
        a p {
            padding: 0.3em;
        }
    }
}

.zekr__score {
    width: 100%;
    max-width: 768px;
    margin-top: 2em;
    padding: 1.5em;
    border: 1px solid white;
    border-radius: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    h3 {
        font-size: 2em;
        color: white;
        user-select: none;
        &.active {
            color: var.$aqua;
        }
    }
}

.zekr__add {
    max-width: 768px;
    width: 100%;
    padding: 0.25em 0.75em;
    background-color: var.$lighter-color;
    box-sizing: border-box;
    font-size: 3em;
    color: white;
    user-select: none;
    text-align: center;
    border-radius: 0.3em;

    &:active {
        outline: 2px solid var.$aqua;
    }
    &:disabled {
        background-color: var.$background-color;
        outline: none;
    }
}

.body--zekr {
    justify-content: space-around;
}

.reset {
    color: white;
    background-color: var.$red;
    display: grid;
    place-content: center;
    padding: 0.75rem;
    border-radius: 50%;
    position: absolute;
    top: 1rem;
    right: 1rem;
    user-select: none;

    cursor: pointer;
    &:hover {
        filter: brightness(0.9);
    }
    &--full {
        top: unset;
        bottom: 1em;
    }
}
.home {
    color: white;
    background-color: var.$green;
    display: grid;
    place-content: center;
    padding: 0.75rem;
    border-radius: 50%;
    position: absolute;
    top: 1rem;
    left: 1rem;
    user-select: none;
    cursor: pointer;
    &:hover {
        filter: brightness(0.9);
    }
}

.daily {
    font-size: 3em;
}

.statistics {
    @extend .home;
    top: unset;
    bottom: 1rem;
}

.statistics--table {
    border-collapse: collapse;
    width: 100%;
    max-width: 768px;
    color: white;
    margin-top: 2em;
}

.statistics--table td,
.statistics--table th {
    width: 50%;
    border: 2px solid white;
    padding: 1em;
    font-weight: normal;
}

.statistics--table th {
    font-weight: bold;
    font-size: 1.25em;
}

.statistics--table thead tr:first-child {
    background-color: black;
}

.title.statistics--header {
    margin-top: 10vh;
}
